<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link th:href="@{/doctor_page.css}" rel="stylesheet">
    <!--            <link rel="stylesheet" href="../static/doctor_page.css">-->
    <title>Medinet - internetowa przychodnia</title>
</head>

<body>
<div class="wrapper">
    <nav class="container navbar">
        <div class="navbar-logo">
            <a th:href="@{/booking}" style="text-decoration: none; color: white; cursor:pointer; font-weight:bold">Medinet</a>
        </div>
        <div class="navbar-links" id="appointments">
            <a th:href="@{/user/{userId}(userId=${doctor.doctorId})}" class="navbar-link">Moje konto</a>
            <a th:href="@{/logout}" class="navbar-link">Wyloguj</a>
        </div>

    </nav>
    <section class="doctors-box">
        <div class="container succes" th:if="${param.approve}"
             style="background-color: rgba(0, 128, 0, 0.5);
            text-align: center;
            padding: 10px;
            position: relative;
transition: opacity .2s, display .2s;">
            <p style="color: white; font-weight: bold;">Wizyta została zatwierdzona!</p>
            <p style="color: white; font-weight: bold;">Szczegóły znajdziesz w sekcji Zakończone</p>
            <button onclick="closeAlert()"
                    style="background: transparent; border: none; color: #FFA07A; font-weight:bold; cursor: pointer;">
                Zamknij
            </button>
        </div>
        <div class="container" style="display: flex; justify-content: center; margin-bottom: 20px">

            <button class="page-button next"
                    style="border-radius: 25px 25px 25px 25px; border: 2px solid white;">
                <a class="button-link" th:href="@{/doctor/appointments/pending}">Do zatwierdzenia</a>
            </button>
            <button onclick="goToOpinion()" class="page-button next"
                    style="border-radius: 25px 25px 25px 25px; border: 2px solid white;
                    margin-top: 25px;
background-color: saddlebrown">
                <a class="button-link">Opinie</a>
            </button>
            <button class="page-button next"
                    style="border-radius: 25px 25px 25px 25px; border: 2px solid white;">
                <a class="button-link" th:href="@{/doctor/appointments/done}">
                    Zakończone</a>
            </button>
        </div>
        <div class="container">
            <div class="title-box">
                <h1>Nadchodzące wizyty</h1>
            </div>
        </div>

        <div class="container reserved-appointments">
            <div th:each="appointment :${upcomingAppointment}">
                <div class="visit-invoice">
                    <div class="up-side">
                        <h6 style="color: black;" th:text="${appointment.getUUID()}">Numer wizyty</h6>
                        <h6 th:text="${'Data wizyty: '+ appointment.getDateOfAppointment()}">Data</h6>
                        <h6 th:text="${'Godzina: '+ appointment.getTimeOfVisit()}">Godzina</h6>
                        <h6 style="color: black;"
                            th:text="${'Imię i nazwisko: ' + appointment.getPatient().getName()
                            +' ' +appointment.getPatient().getSurname()}">Pacjent</h6>
                        <h6 th:text="${'Lekarz: ' + appointment.getDoctor().getName() +
                            ' '+ appointment.getDoctor().getSurname()}">Lekarz</h6>
                        <h6 th:text="${'Temat: Wizyta u specjalisty - '
                            +appointment.getDoctor().getSpecialization()}">Temat</h6>
                    </div>
                </div>
            </div>
        </div>

        <div class="container main-box">
            <div class="container rigth-side">
                <div class="nav" id="opinions">
                    <button onclick="goToAppointments()"
                            class="page-button next"
                            style="border-radius: 25px 25px 25px 25px;
                             border: 2px solid white; color: white; font-weight: bold">Rezerwacje
                    </button>
                </div>
                <div class="hero-box opinions" style="flex-direction: column">

                    <div th:each="OneOpinion: ${doctor.getOpinions()}" class="one-opinion">
                        <th:block th:with="offsetDateTime=${OneOpinion.dateOfCreateOpinion}">
                            <th:block
                                    th:with="zonedDateTime=${offsetDateTime.atZoneSameInstant(T(java.time.ZoneId).of('Europe/Warsaw'))}">
                                <h5 th:text="${zonedDateTime.format(T(java.time.format.DateTimeFormatter).ofPattern('yyyy-MM-dd HH:mm'))}"></h5>
                            </th:block>
                        </th:block>
                        <h5 th:text="${'Wystawione Przez: ' + OneOpinion.getPatient().getName() +' '+OneOpinion.getPatient().getSurname()}"></h5>
                        <p th:text="${OneOpinion.getNote()}"></p>
                    </div>
                </div>

            </div>

        </div>


    </section>
</div>

<footer class="down-navigation">
    <h5>© Medinet 2023</h5>
</footer>
<script>
    function goToOpinion() {
        var div = document.getElementById("opinions");
        div.scrollIntoView({behavior: 'smooth'});
    }

    function goToAppointments() {
        var div = document.getElementById("appointments");
        div.scrollIntoView({behavior: 'smooth'});
    }
function closeAlert() {
    const container = document.querySelector('.succes');
    container.style.opacity = '0';
    setTimeout(() => {
        container.style.display = 'none';
    }, 200);
}



</script>
</body>

</html>