<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<style>
    body{
        position: relative;
        font-family: Arial, sans-serif;
        display: flex;
        margin-top: 50px;
        justify-content: center;
        align-items: flex-start;
        text-align: start;
        font-size: 19px; 
   
    }
  .left{
   margin: 50px;
  }
      
</style>
</head>
<body> 
    <div class="left">
        <h4>Faktura: Wizyta w przychodni medinet</h4> 
        <h4>Numer wizyty:   invoice.getUUID()  </h4> 
        <p>Data wizyty:   invoice.getDateOfAppointment()  </p> 
        <p>Godzina:   invoice.getTimeOfVisit()  </p> 
        <p>Imie i nazwisko pacjenta:   invoice.getPatient().getName()     invoice.getPatient().getSurname()  </p> 
        <p>Adres przychodni:   invoice.getDoctor().getAddress().getCity()     invoice.getDoctor().getAddress().getStreet()  </p> 
        <p>Lekarz:   invoice.getDoctor().getName()     invoice.getDoctor().getSurname()  </p> 
        <p>Wizyta u specjalisty -   invoice.getDoctor().getSpecialization()  </p> 
        <p>Informacje od lekarza:   invoice.getNoteOfAppointment()  </p> 

    </div>
    <div class="podpis" style="margin-top: 50px; position: absolute; right: 0; bottom: 0;">
        Medinet - Internetowa Przychodnia
    </div>
    <div class="right">
        <h3>Data</h3>
        <h3>Godzina</h3>
    </div>
    
    </body> 
</html>