<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link th:href="@{/main.css}" rel="stylesheet">
<!--           <link rel="stylesheet" href="../static/main.css">-->
    <title>Medinet - internetowa przychodnia</title>
    <style>
        .available-hour {
            background-color: #3f7293;
            height: 30px;
            width: 80px;
            margin-bottom: 15px;
            border-radius: 20px;
            line-height: 30px;
            color: white;
            transition: background-color 0.3s, opacity 0.3s;
        }

        .available-hour {
            border: 2px solid white;
            cursor: pointer;
            background-color: cornflowerblue;
        }

        .available-hour:hover {
            background-color: #0c75c031;
        }

        .page-button {
            margin-right: 25px;
            width: 200px;
            height: 50px;
            border-radius: 0px 25px 25px 0;
            cursor: pointer;
            background-color: #1b679e;
            transition: 0.3s;
        }

        .page-button:hover {
            background-color: #2a78b0;
        }

        .button-link {
            line-height: 40px;
            color: white;
            font-weight: bold;
            text-decoration: none;
        }

        .button-link:hover {
            color: white;
        }

        .doctor-info {
            position: relative;
        }

        .popup {
            width: 498px;
            height: 0px;
            background-color: rgb(108, 165, 162);
            position: absolute;
            margin: 0 auto;
            top: 0;
            margin-left: 478px;
            opacity: 0;
            transition: opacity 0.5s;
        }

        .popup.show {
            z-index: 1;
            opacity: 1;
            height: 346px;
        }



    </style>
</head>

<body>

<div class="wrapper">
    <nav class="container navbar">
        <div class="navbar-logo">
            <a th:href="@{/booking}" style="text-decoration: none; color: white; cursor:pointer; font-weight:bold">Medinet</a>
        </div>
        <div class="navbar-links">
            <a th:href="@{/account/user/{userId}(userId=${user})}" th:method="get" class="navbar-link">Moje konto</a>
            <a th:href="@{/logout}" th:method="get" class="navbar-link">Wyloguj</a>
        </div>
    </nav>

    <div class="container succes" th:if="${param.success}"
         style="background-color: rgba(0, 128, 0, 0.5);
            text-align: center;
            padding: 10px;
            position: relative;
transition: opacity .2s, display .2s;">
        <p style="color: white; font-weight: bold;">Wizyta została zarejestrowana!</p>
        <p style="color: white; font-weight: bold;">Szczegóły znajdziesz w sekcji Moje konto</p>
        <button onclick="closeAlert()"
                style="background: transparent; border: none; color: #FFA07A; font-weight:bold; cursor: pointer;">
            Zamknij
        </button>
    </div>
    <div class="container succes" th:if="${param.opinion}"
         style="background-color: rgba(0, 128, 0, 0.5);
            text-align: center;
            padding: 10px;
            position: relative;
transition: opacity .2s, display .2s;">
        <p style="color: white; font-weight: bold;">Opinia została wystawiona!</p>
        <p style="color: white; font-weight: bold;">Swoje opinie znajdziesz w sekcji Moje konto</p>
        <button onclick="closeAlert()"
                style="background: transparent; border: none; color: #FFA07A; font-weight:bold; cursor: pointer;">
            Zamknij
        </button>
    </div>
    <section class="doctors-box">
        <div class="container">
            <div class="title-box">
                <h1>Dostępni lekarze</h1>
                <span>Wybierz datę aby zarezerować wizytę</span>
            </div>
        </div>
        <div class="container">
            <button th:if="${!doctors.first}" class="page-button"
                    style="border-radius: 25px 0 0 25px; border: 2px solid white;">
                <a class="button-link" th:href="@{/booking(page=${doctors.number - 1})}">Poprzednia strona</a>
            </button>

            <button th:if="${doctors.hasNext}" class="page-button next"
                    style="border-radius: 0 25px 25px 0; border: 2px solid white;">
                <a class="button-link" th:href="@{/booking(page=${doctors.number + 1})}">Następna strona</a>
            </button>


        </div>
        <div class="doctors-box">
            <div class="sort-box">
                <div class="btn">
                    <a th:href="@{/booking}">Pokaż wszystkich</a>
                </div>
                <form id="searchForm" action="#" th:action="@{/booking/find}" method="GET">
                    <label for="doctorSpecializations">Specjalizacje:</label>
                    <select id="doctorSpecializations" th:name="doctorSpecialization" style="background-color: white; color: black;" required>
                        <option value="" selected>Wybierz specjalizację...</option>
                        <option th:each="specialization : ${specializations}" th:value="${specialization}"
                                th:text="${specialization}" style="color: white; background-color: #0e85b2d4; border: 2px solid white; font-weight: bold;">
                        </option>
                    </select>
                    <label for="doctorCities" style="margin-left: 50px">Miasto:</label>
                    <select id="doctorCities" th:name="doctorCity" style="background-color: white; color: black;" required>
                        <option value="" selected>Wybierz miasto...</option>
                        <option th:each="city : ${cities}" th:value="${city}" th:text="${city}" style="color: white; background-color: #0e85b2d4; border: 2px solid white; font-weight: bold;">
                        </option>
                    </select>
                    <input type="submit" value="Szukaj" class="btn" style="background-color: #3f7293; color: white; font-weight: bold; border: 2px solid white; margin-left: 30px">
                </form>

            </div>

            <div class="available-doctors" style="margin-top: 30px">
                <h1 th:if="${totalElements > 0}" th:text="${totalElements + ' Dostępnych lekarzy'}"></h1>
                <h1 th:unless="${totalElements > 0}">Brak dostępnych lekarzy</h1>
            </div>


            <div th:each="doctor : ${doctors}" class="doctor-info" style="height: 350px;
                     width: 1000px;
                    border: 2px solid white;
                       background-color:#6da6ce;
                        display: flex;
                         margin: 50px;">


                <div class="left-side" style="background-color:#539ed3;
                          width: 50%;
                           height: 100%;
                            border-right: 1px solid black;">


                    <div class="up-info" style="width: 100%;
                              height: 50%;
                               display: flex;

                                justify-content: space-between;">

                        <div class="avatar" style="
                                  background-position: center;
                                  height: 120px;
                                   background-color: antiquewhite;
                                    width: 120px;
                                   margin-top: 30px;
                                    margin-left: 20px;
                                     border-radius: 50%;">
                            <img style="background-position: center;
                                   background-size: contain;
                                  height: 120px;
                                   background-color: antiquewhite;
                                    width: 120px;
                                     border-radius: 50%;" th:src="@{/images/avatar_profile_page.jpg}"
                                 alt="memorynotfound logo"/>

                        </div>
                        <div class="name" style="height: 100%;
                                  width: 60%;
                                   display: flex;

                                    justify-content: center;
                                     align-items: center;">
                            <div class="threediv" style="display: flex;
                                  flex-direction: column;
                                   justify-content: center;
                                  align-items: center;">

                                <div class="doctor-name" style="font-weight: bold">
                                    <h3 th:text="${'Dr. '+doctor.name + ' ' + doctor.surname}"></h3>
                                </div>

                                <div class="doctor-specialization" style="font-weight: bold">
                                    <p th:text="${doctor.specialization}"></p>
                                    <p>
                                        <span th:text="${doctor.getOpinions().size()}"></span>
                                        <span th:if="${doctor.getOpinions().size() == 1}"> opinia</span>
                                        <span th:if="${doctor.getOpinions().size() > 1 && doctor.getOpinions().size() < 5}"> opinie</span>
                                        <span th:if="${doctor.getOpinions().size() >= 5 || doctor.getOpinions().isEmpty()}"> opinii</span>
                                    </p>
                                </div>




                            </div>
                        </div>

                    </div>
                    <div style="height: 1px; width: 80%; background-color: black; margin: 0 auto"></div>

                    <div class="down-info" style="height: 50%;
                             display: flex;
                              align-items: flex-start;
                               padding-left: 20px;
                               text-align: left;
                               color: white;
                                margin-top: 20px;
                                 font-weight: bold">

                        <div class="left-down-info">
                            <div class="addres">
                                <div class="up-address" style="display: flex;
                                      flex-direction: column">
                                    <span style="color: black;font-weight: bold">Miasto: </span>
                                    <span th:text="${doctor.getAddress().getCity()}"></span>
                                </div>
                                <span style="color: black;font-weight: bold">Adres: </span>
                                <p th:text="${doctor.getAddress().getStreet()}"></p>
                                <p th:text="${'Cena za wizytę: '+ doctor.getPriceForVisit()}"
                                   style="color: black;font-weight: bold"></p>
                            </div>
                        </div>
                        <div class="details" style="margin: -20px auto 0 auto">
                            <form id="doctorDetails"
                                  th:action="@{/specialist/details/{doctorId}(doctorId=${doctor.getDoctorId()})}"
                                  method="get">
                                <input type="submit" value="Szczegóły" class="btn" style="
                                       background-color: #2ead2e;
                                        color: white;
                                        z-index: 1;
                                         font-weight: bold;
                                          border: 2px solid white;
                                           border-radius: 5px;
                                            margin-top: 20px;
                                            width: 135px;">
                            </form>
                            <button class="send-opinion" th:id="'lekarz' + ${doctor.getDoctorId()}" style="border: 2px solid white;
                            color: white;
                            background-color: #0b5f9b;
                            font-weight: bold;
                            border-radius: 5px; margin-top: 20px; width: 135px;
                             padding: 5px;">Wystaw Opinię
                            </button>
                        </div>
                        <div class="popup" th:id="'lekarz' + ${doctor.getDoctorId()}">
                            <form action="#" th:action="@{/opinion/new}" th:object="${OpinionDto}" method="POST"
                                  style="display: flex;

                                   flex-direction: column;
                                    align-items: center;
                                    margin-top: 50px;">
                                <input type="hidden" th:name="patientId" th:value="${user}"/>
                                <input type="hidden" th:name="doctorId" th:value="${doctor.getDoctorId()}"/>
                                <textarea name="opinionNote" rows="9" cols="55" style="background-color: #d2dee68e;
                                           border: 2px solid black;
                                            border-radius: 15px; padding: 10px; "></textarea>
                                <button type="submit" style="background-color: #2ead2e;
                                         color: white;
                                          font-weight: bold;
                                           border: 2px solid white;
                                            border-radius: 5px;
                                             margin-top: 20px;
                                             width: 135px;">Wyślij
                                </button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="right-side" style="
                     width: 50%;
                          overflow-x: scroll;

                            position: relative;">


                    <div class="container" style="padding-top: 10px;
                             margin-top: 30px;
                               display: flex;

                                justify-content: space-between;">
                        <div th:each="doctorCalendar : ${doctor}" style="display: flex;
                                  justify-content: space-between;
                                   width: 100%">
                            <div th:each="calendar : ${doctorCalendar.getCalendars()}" style="display: flex;
                                      flex-direction: column;
                                       align-items: center;
                                       margin-right: 30px;
">


                                <div class="day" style="border: 2px solid white;
                                         font-weight: bold;
                                         color: white;
                                         border-radius: 15px;
                                          background-color:#1b679e;

                                         height: 50px;
                                         margin-bottom: 15px;
                                         width: 90px;">
                                    <div th:text="${polishDayFormatter.format(calendar.getDate().getDayOfWeek())}"
                                         style="color:black;"></div>
                                    <div
                                            th:text="${calendar.getDate().getDayOfMonth() + ' ' +dateFormatter.format(calendar.getDate().getMonth())}">
                                    </div>

                                </div>


                                <div th:each="hour : ${calendar.getHours()}">
                                    <form th:action="@{/request}" method="GET">
                                        <input type="hidden" th:name="selectedHour" th:value="${hour}"/>
                                        <input type="hidden" th:name="doctorId" th:value="${doctor.getDoctorId()}"/>
                                        <input type="hidden" th:name="patientId" th:value="${user}"/>
                                        <input type="hidden" th:name="calendarId"
                                               th:value="${calendar.getCalendarId()}"/>
                                        <input type="hidden" th:name="selectedDate" th:value="${calendar.getDate()}"/>
                                        <button type="submit" class="available-hour">
                                            <span th:text="${hour}"></span>
                                        </button>
                                    </form>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container page-sort-box"
                 style="display: flex; justify-content:center; margin-bottom: 40px;">

                <button th:if="${!doctors.first}" class="page-button"
                        style="border-radius: 25px 0 0 25px; border: 2px solid white;">
                    <a class="button-link" th:href="@{/booking(page=${doctors.number - 1})}">Poprzednia strona</a>
                </button>

                <button th:if="${doctors.hasNext}" class="page-button next"
                        style="border-radius: 0 25px 25px 0; border: 2px solid white;">
                    <a class="button-link" th:href="@{/booking(page=${doctors.number + 1})}">Następna strona</a>
                </button>


            </div>
        </div>

    </section>
</div>

<footer class="down-navigation">
    <h5>© Medinet 2023</h5>
</footer>
<script>
        const buttons = document.querySelectorAll('.send-opinion');

        buttons.forEach(button => {
            button.addEventListener('click', () => {
                const doctorId = button.getAttribute('id');
                const popup = document.querySelector(`.popup#${doctorId}`);
                popup.classList.toggle('show');
            });
        });

function closeAlert() {
    const container = document.querySelector('.succes');
    container.style.opacity = '0';
    setTimeout(() => {
        container.style.display = 'none';
    }, 200);
}


</script>
</body>

</html>