<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link th:href = "@{/doctor_page.css}" rel="stylesheet">
    <!-- <link rel="stylesheet" href="../static/doctor_page.css"> -->
    <title>Medinet - internetowa przychodnia</title>
    <style>


        .page-button {
            margin-right: 25px;
            width: 200px;
            height: 50px;
            border-radius: 0px 25px 25px 0;
            cursor: pointer;
            background-color: #1b679e;
            transition: 0.3s;
        }

        .page-button:hover {
            background-color: #2a78b0;
        }

        .button-link {
            line-height: 40px;
            color: white;
            font-weight: bold;
            text-decoration: none;
        }

        .button-link:hover {
            color: white;
        }

    </style>
</head>

<body>

<div class="wrapper">
    <nav class="container navbar">
        <div class="navbar-logo">
            <a th:href="@{/}">Logo</a>
        </div>
        <div class="navbar-links">
            <a href="#" class="navbar-link">Polityka</a>
            <a th:href="@{/account/user}" th:method="get" class="navbar-link">Moje konto</a>
        </div>
    </nav>
    <section class="doctors-box">
        <div class="container">
            <div class="title-box">
                <h1>Twoi pacjenci</h1>
            </div>
        </div>
        <div class="container">
            <button class="page-button"
                    style="border-radius: 25px 0 0 25px; border: 2px solid white;">
                <a class="button-link" th:href="@{/doctor}">Nadchodzące</a>
            </button>

            <button class="page-button next"
                    style="border-radius: 25px 25px 25px 25px; border: 2px solid white;">
                <a class="button-link" th:href="@{/doctor/appointment/pending}">Oczekujące</a>
            </button>

            <button class="page-button next"
                    style="border-radius: 0 25px 25px 0; border: 2px solid white;">
                <a class="button-link" th:href="@{/}">Zakończone</a>
            </button>
        </div>


        <div class="container reserved-appointments">
            <div th:each="appointment :${pendingAppointment}">
                <div class="visit-invoice">
                    <div class="up-side">
                        <h6 style="color: black;" th:text="${appointment.getUUID()}">Numer wizyty</h6>
                        <h6 th:text="${'Data wizyty: '+ appointment.getDateOfAppointment()}">Data</h6>
                        <h6 th:text="${'Godzina: '+ appointment.getTimeOfVisit()}">Godzina</h6>
                        <h6 style="color: black;"
                            th:text="${'Imię i nazwisko: ' + appointment.getPatient().getName()
                            +' ' +appointment.getPatient().getSurname()}">Pacjent</h6>
                        <h6 th:text="${'Lekarz: ' + appointment.getDoctor().getName() +
                            ' '+ appointment.getDoctor().getSurname()}">Lekarz</h6>
                        <h6 th:text="${'Temat: Wizyta u specjalisty - '
                            +appointment.getDoctor().getSpecialization()}">Temat</h6>
                    </div>
                    <form id="doctorDetails"
                          th:action="@{/booking/remove/{appointmentId}(appointmentId=${appointment.getAppointmentId()})}"
                          th:method="DELETE">
                        <input type="hidden" name="calendarDate" th:value="${appointment.getDateOfAppointment()}"/>
                        <input type="hidden" name="selectedHour" th:value="${appointment.getTimeOfVisit()}"/>
                        <input type="hidden" name="calendarId" th:value="${appointment.getCalendarId()}"/>
                        <form action="/submit" method="post">
                            <label for="content">Notatka do wizyty / zalecenia:</label>
                            <textarea class="custom-textarea" id="content" name="content"></textarea>
                        </form>
                        <input type="submit" value="Zatwierdź" class="btn" style="
                               background-color: rgb(42, 209, 87);
                                color: white;
                                z-index: 1;
                                 font-weight: bold;
                                  border: 2px solid white;
                                   border-radius: 20px;
                                    margin-top: 25px;
                                    margin-bottom: 20px;
                                    width: 135px;">
                    </form>
                </div>
            </div>
        </div>

    </section>
</div>

<footer class="down-navigation">
    <h5>© Medinet 2023</h5>
</footer>
<script>
    const buttons = document.querySelectorAll('.send-opinion');

    buttons.forEach(button => {
        button.addEventListener('click', () => {
            const doctorId = button.getAttribute('id');
            const popup = document.querySelector(`.popup#${doctorId}`);
            popup.classList.toggle('show');
        });
    });
</script>
</body>

</html>